   <!-- Pizza Summary -->
   <div class="pizza__summary">
    <h2>Order Summary</h2>
    <div class="pizza-summary__pizza" *ngFor="let pizza of pizzas.value">
      <div *ngIf="pizza.size">
        <h3>
          {{ pizza.size | titlecase }} Pizza
          <span class="pizza-summary__price">
            {{ prices[pizza.size].base | currency: "USD" }}
          </span>
        </h3>
        <!-- <h4> created {{ createdAt$ | async | formatDistance }}</h4> -->
        <div class="pizza-summary__toppings">
          <div 
            class="pizza-summary__topping" 
            *ngFor="let topping of pizza.toppings">
            <i class="fa fa-plus"></i>
            {{ topping | titlecase }}
            <span class="pizza-summary__price">
              {{ prices[pizza.size].toppings | currency: "USD" }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="pizza-summary__total-price">
      <!-- Total: {{ total$ | async | currency: "USD" }} -->
    </div>
    <button
      type="submit"
      class="pizza-summary__button"
      [disabled]="pizzas.invalid"
    >
    Place Order
    </button>  
  </div>